<tr>
    <th scope="row">
        {{header}}
    </td>
    <td>
        {{data}}
    </td>
    <td>
        {{#if editable}}
        <button class="btn btn-sm btn-outline-secondary">
            <i class="fa fa-edit"></i>
        </button>
        {{/if}}
    </td>
</tr>