<link rel="stylesheet" href="/stylesheets/borrow-card.css">
<div class="borrow-card">
    <div class="borrow-card-header">
        <div class="borrower-name">
            Vương Hy
        </div>
        <div class="borrower-id">
            1612864
        </div>
    </div>
    <div class="book-container">
        <div class="book-item">
            <div class="book-id">
                MSQ-XYZ
            </div>
            <div class="book-name">
                xyz
            </div>
        </div>
        <div class="book-item">
            <div class="book-id">
                MSQ-XYZ
            </div>
            <div class="book-name">
                tdajsftdajsf
            </div>
        </div>
        <div class="book-item">
            <div class="book-id">
                MSQ-MDF
            </div>
            <div class="book-name">
                Nhập môn lập trình hướng đối tượng
            </div>
        </div>
    </div>
</div>