<button type="button" class="text-left btn btn-action dropdown-toggle hover-text-white" style="padding-left: 0"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="drop-down-button">
    {{user.username}}
</button>
<div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="/profile">Thông tin cá nhân</a>
    <a class="dropdown-item" href="/change-password">Đổi mật khẩu</a>
    <a class="dropdown-item" href="/buy-book-manager">Sách đang đặt</a>
    <a class="dropdown-item" href="/buy-book">Đăng ký mua sách</a>
    <a class="dropdown-item" href="/return-book-list">Lịch sử mượn sách</a>
    <a class="dropdown-item" href="/rent-book-list">Sách đang mượn</a>
    <a class="dropdown-item" href="/carts">Giỏ sách</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/api/account/sign-out">Đăng xuất</a>
</div>