<div class="container-fluid" style="padding:0; width:95%">
    <div class="content-section first-section d-flex bg-white no-padding align-items-center">
        <div style="padding: 10px; font-size:20px">{{content}}</div>
    </div>
</div>