<div class="container" style="padding:0; width:95%">
    <div class="content-section no-padding forget-pass-area  first-section">
        <div class="row justify-content-center" style="padding: 50px 50px 100px 50px">
            <div>
                <div class="account-area">
                    <div class="forget-pass padding-top-3em">
                        <span class="font-size-xxx-large font-normal-bold text-color-3498DB text-center">Đổi mật
                            khẩu</span>
                        <div class="row justify-content-center">
                            <div>
                                <div class="password">
                                    <input type="text" class="user-input" id="current-pass"
                                        placeholder="Mật khẩu hiện tại">
                                </div>
                                <div class="password">
                                    <input type="text" class="user-input" id="new-password" placeholder="Mật khẩu mới">
                                </div>
                                <div class="password">
                                    <input type="text" class="user-input" id="confirm-password"
                                        placeholder="Xác nhận mật khẩu mới">
                                </div>
                            </div>
                        </div>

                        <div class="row confirm-area justify-content-center" style="margin-top: 10px;">
                            <div>
                                <a href="/">
                                    <button class="customized-btn blue-bg-white-text"
                                        style="border:none; background-color: #3498db;">Xác nhận</button>
                                </a>
                                <a href="/">
                                    <button class="customized-btn white-bg-black-text" style="padding: 5px 13px;">
                                        <div style="width:8ch">Hủy</div>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/stylesheets/forget-pass.css">
<script src="/function/change-nav.js" current_page="..."></script>