<div class="container" style="padding:0; width:95%">
    <div class="content-section no-padding forget-pass-area  first-section">
        <div class="row" style="padding: 100px 50px 100px 50px">
            <div class="col-lg row align-content-center justify-content-center" style="margin-left: 2px;">
                <div class=" row justify-content-center align-items-center" style="width: 80%;">
                    <div class="forget-pass">
                        <div class="row justify-content-center" >
                            <span class="title-section text-center" style="padding-bottom: 0;"> Quên mật khẩu </span>
                        </div>
                        <div class="username">
                            <input type="text" class="user-input" placeholder="Tên đăng nhập hoặc email">
                        </div>
                        <div class="forget-pass-but row justify-content-center">
                            <a href="/">
                                <button class="forget-pass-button font-normal-bold">
                                    <div style="width: 9ch;">Gửi</div>
                                </button>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg">
                <div class="login-area row justify-content-center align-content-center" style="padding-top:1em">
                    <div class="rectangle-ECF0F1 text-algin-center">
                        <div style="padding: 50px;">
                            <div>
                                {{!-- <div>Chỉ áp dụng cho tài khoản cntt </div> --}}
                                <span class="text-color-3498DB" style="font-size: 30px; font-weight:bold">Nhớ
                                    ra mật khẩu?</span>
                            </div>
                            <div class="login">
                                <a href="/login">
                                    <button class="login-button font-normal-bold">Đăng Nhập</button>
                                </a>

                            </div>
                        </div>



                    </div>
                </div>
            </div>


        </div>

    </div>
</div>


<link rel="stylesheet" href="/stylesheets/forget-pass.css">
<script src="/function/change-nav.js" current_page="Đăng nhập"></script>