<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<div class="container padding-top-7-per" style="height: 35em;">
    <div class="forget-pass-area display-grid">
        <div class="forget-pass-input">
            <div class="forget-pass padding-top-15-per">
                <span class="font-size-xxx-large font-normal-bold text-color-3498DB">Quên mật khẩu</span>
                <div class="username">
                    <input type="text" class="user-input" placeholder="Username">
                </div>
                <div class="forget-pass-but">
                    <button class="forget-pass-button font-normal-bold">gửi</button>
                </div>
            </div>


        </div>
        <div class="login-area">
            <div class="rectangle-ECF0F1 margin-top-5em text-algin-center">
                <div style="height: 53%;">
                    <div>mail đổi mật khẩu sẽ được gửi trong 30s, nếu qua 12h chưa có vui lòng liên hệ support</div>
                    <span class="text-color-3498DB font-normal-bold font-size-xx-large margin-top-3-per" style="line-height: 3;">Nhớ ra mật khẩu?</span>
                </div>

                <div class="login">
                    <button class="login-button font-normal-bold">Đăng nhập</button>
                </div>

            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="/stylesheets/forget-pass.css">
{{!-- <script src="/function/loginFunction.js"></script> --}}