<div class="container" style="padding:0; width:95%">
    <div class="content-section no-padding forget-pass-area  first-section">
        <div class="row" style="padding: 50px 50px 100px 50px">
            <div class="col-lg">
                <div class="forget-pass-input">
                    <div class="forget-pass padding-top-15-per">
                        <span class="font-size-xxx-large font-normal-bold text-color-3498DB">Quên mật khẩu</span>
                        <div class="username">
                            <input type="text" class="user-input" placeholder="Tên đăng nhập hoặc email">
                        </div>
                        <div class="forget-pass-but">
                            <a href="/">
                                <button class="forget-pass-button font-normal-bold">
                                    <div style="width: 9ch;">Gửi</div>
                                </button>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg">
                <div class="login-area row justify-content-center">
                    <div class="rectangle-ECF0F1 margin-top-5em text-algin-center">
                        <div style="padding: 50px;">
                            <div>
                                {{!-- <div>Chỉ áp dụng cho tài khoản cntt </div> --}}
                                <span class="text-color-3498DB font-normal-bold font-size-xx-large margin-top-3-per">Nhớ
                                    ra mật khẩu?</span>
                            </div>
                            <div class="login">
                                <a href="/login">
                                    <button class="login-button font-normal-bold">Đăng Nhập</button>
                                </a>

                            </div>
                        </div>



                    </div>
                </div>
            </div>


        </div>

    </div>
</div>


<link rel="stylesheet" href="/stylesheets/forget-pass.css">
<script src="/function/change-nav.js" current_page="Đăng nhập"></script>