<link rel="stylesheet" href="/stylesheets/index-lib.css">

<div id="statistic" class="container-fluid block">
    <div id="stat-header" class="container-fluid block-header">
        <span>Tổng kết</span>&nbsp;
        <span id="report-period">tháng</span>
    </div>
    <div id="stat-subheader" class="container-fluid block-subheader">
        <span>
            Từ ngày xyz tới ngày xyz
        </span>
    </div>
    <div id="stat-body" class = "block-body container-fluid">
        <div class="row justify-content-center">
            <div id="stat-summary" class="lib-card stat-card fluid-container">
                <div class="summary-row row align-items-center text-center">
                    <div class="col">
                        <span id="book-count">820</span><br>
                        <span>Quyển sách</span>
                    </div>
                    <div class="col"><span>Mượn bởi</span></div>
                    <div class="col">
                        <span id="student-count">23</span>&nbsp;<span>sinh viên</span><br>
                        <span id="teacher-count">12</span>&nbsp;<span>giáo viên</span>
                    </div>
                </div>
                <div class="summary-row row align-items-end text-center">
                    <div class="col">
                        <span id="borrow-count">820</span><br>
                        <span>Lượt mượn sách</span>
                    </div>
                    <div class="col">
                        <span id="visit-count">9.2K</span><br>
                        <span>Lượt truy cập</span>
                    </div>
                    <div class="col">
                        <span id="return-count">720</span><br>
                        <span>Lượt trả sách</span>
                    </div>
                </div>
            </div>
            <div class="lib-card stat-card">
                <div class="lib-card-header">
                    <span>
                        Số lượt mượn trả theo ngày
                    </span>
                </div>
                <div id="borrow-return-chart" class="lib-card-body">

                </div>
            </div>
            <div class="lib-card stat-card">
                <div class="lib-card-header">
                    <span>
                        Sách có số lượt mượn nhiều nhất
                    </span>
                </div>
                <div id="most-borrowed-book-chart" class="lib-card-body chart">

                </div>
            </div>

            <div class="lib-card stat-card">
                <div class="lib-card-header">
                    <span>
                        Đọc giả mượn nhiều sách nhất
                    </span>
                </div>
                <div class="lib-card-body" id="most-borrowing-reader-chart">

                </div>
            </div>

            <div class="lib-card stat-card">
                <div class="lib-card-header">
                    <span>
                        Các thể loại sách phổ biến
                    </span>
                </div>
                <div class="lib-card-body" id="most-borrowed-genre-chart">
                    
                </div>
            </div>

            <div class="lib-card stat-card">
                <div class="lib-card-header">
                    <span>
                        Tình trạng mượn trả sách
                    </span>
                </div>
                <div class="lib-card-body" id="status-chart">

                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div id="agenda" class="container-fluid block">
    <div id="agenda-header" class="container-fluid block-header">
        <span>Lịch làm việc</span>
    </div>
    <div id="section-body" class = "block-body container-fluid">
        <div class="row justify-content-center">
            <div id="borrow-summary" class="lib-card agenda-card fluid-container">        
                <div class="lib-card-header">
                    <span>
                        Lịch mượn sách
                    </span>
                </div>
                <div class="lib-card-body">
                    {{#eachBorrow borrowData}}
                    {{>borrow_card borrowInfo = .}}
                    {{/eachBorrow}}
                </div>
            </div>

            <div id="borrow-group">
                <div id="borrow-summary" class="lib-card half-card agenda-card fluid-container">        
                    <div class="lib-card-header">
                        <span>
                            Sách tới hẹn trả
                        </span>
                    </div>
                    <div class="lib-card-body">
                        {{#eachReturn returnData}}
                        {{>borrow_card borrowInfo = .}}
                        {{/eachReturn}}
                    </div>
                </div>

                <div id="borrow-latelate-summary" class="lib-card half-card agenda-card fluid-container">        
                    <div class="lib-card-header">
                        <span>
                            Sách trễ hẹn trả
                        </span>
                    </div>
                    <div class="lib-card-body">
                        {{#eachReturn dueData}}
                        {{>borrow_card borrowInfo = .}}
                        {{/eachReturn}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.7.0/echarts-en.min.js"></script>
<script>
    bookBorrowData = {
        ids: ["MSD-XAY", "IDS-XZY", "AGF-EXF"],
        books: ["Nhập môn Lập trình\nhướng đối tượng", "Trí tuệ nhân tạo", "Toán gì gì đó"],
        counts: [87,74,23],
    };
    
    borrowReturnData = {
        time: ['2019-10-10','2019-10-11','2019-10-12','2019-10-13','2019-10-14','2019-10-15','2019-10-16','2019-10-17','2019-10-18'],
        borrowCounts: [200,400,650,500,250,300,450,300,100],
        returnCounts: [500,200,550,800,350,200,150,600,400]
    };

    readerBorrowData = {
        ids: ["157373", "4534534", "32432"],
        usernames: ["Vuowng Hy", "Adele", "Billie Ellish"],
        counts: [87,74,23],
    };

    genreBorrowData = {
        genre: ["Lập trình", "Toán", "Trí tuệ nhân tạo", "Web", "Khác"],
        counts: [424,234,151,78,209],
    };

    statusData = {
        state: ["Đang mượn", "Trả đúng hẹn", "Bị trễ hẹn", "Mất"],
        counts: [420,234,151,3],
    };
</script>
<script src="/function/index-lib.js"></script>

<script src="/function/nav-lib.js" current_page="Trang chủ"></script>