<!doctype html>
<html lang="vi">

<head>
  <title>
    Quản lý thư viện khoa
  </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style-lib.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-white">

  <div id="side-bar" class="col">
    <a class="navbar-brand no-padding-top-bot" href="#">
      <img src="/images/logo-khoa.png" alt="" id="logo">
    </a>
    <ul class="nav flex-column">
      <li class="nav-item ">
        <a class="nav-link" href="/librarian/">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/librarian/borrow/">Mượn sách</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/librarian/return/">Trả sách</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/librarian/booking-manager">Quản lí mua sách</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/librarian/account-manager">Quản lí tài khoản</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/librarian/lib-law">Quản lí luật</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/librarian/post-announcer/">Đăng thông báo</a>
      </li>
    </ul>
  </div>
  <div id="top-bar" class="fluid-container row align-items-center">
    <div id="function" class="col">
      <div id="btn-menu" class="header-btn">
        <i class="fa fa-bars"></i>
      </div>
      <div id="btn-qr" class="header-btn">
        <i class="fa fa-qrcode"></i>
        <span>Quét mã QR</span>
      </div>
      {{#if export}}
      <div id="btn-export" class="header-btn">
        <i class="fa fa-save"></i>
        <span>Xuất ra csv</span>
      </div>
      {{/if}}
      {{#if search}}
      <div id="search-box">
        <div class="input-group">
          <input id="search-input" type="text" class="form-control" placeholder="Thông tin cần tìm">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
      {{/if}}
    </div>

    <div id="account" class="col-auto">
      <span id="username">
        {{user.username}}
      </span>
      <a href="/librarian/lib-profile">
        <img id="profile-picture" src="/images/blank-profile-picture.png" class="rounded-circle" alt="Ảnh đại diện"
          width="40" height="40">
      </a>
    </div>
  </div>
  <div id="main">

    <div id="content" class="fluid-container">
      {{{body}}}
    </div>
    <footer>
      © 2020 Trường Đại học Khoa học Tự nhiên
    </footer>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="/function/layout-lib.js"></script>
</body>

</html>