<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />
  
</head>

<body>
  <header class="container-fluid header-nav fixed-top">
    <div class="row justify-content-between ">
      <a class="navbar-brand no-padding-top-bot" href="/">
        <img src="/images/logo-khoa.png" alt="" class="logo">
      </a>
      <nav class="navbar navbar-expand-md navbar-light no-padding-top-bot ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item nav-item-padding">
              <a class="nav-link text-dark" href="/">Trang chủ</a>
            </li>
            <li class="nav-item nav-item-padding">
              <a class="nav-link text-dark" href="/categories">Thể loại</a>
            </li>
            <li class="nav-item nav-item-padding">
              <a class="nav-link text-dark" href="/storage">Kho sách</a>
            </li>
            <li class="nav-item nav-item-padding">
              <a class="nav-link text-dark" href="/news">Tin tức</a>
            </li>
            <li class="nav-item nav-item-padding">
              <a class="nav-link text-dark" href="/about">Giới thiệu</a>
            </li>

            {{!login area}}
            <li class="nav-item nav-item-padding" id="login-checking-area">
              <a class="nav-link text-dark" href="/login">Đăng nhập</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  {{{body}}}

  {{!-- footer cho bottom rộng rộng --}}
  <footer class="container-fluid " style="padding-bottom: 50px;">
    <div class="row justify-content-around">
      <div class="raw-info">
        <img src="/images/logo-khoa.png" alt="" class="logo">
        <div>Khoa Công nghệ Thông tin </div>
        <div>Trường Đại học Khoa học Tự nhiên, ĐHQG-HCM</div>
        <div><img src="/images/icon-address.svg" alt="" class="icon-footer"> 227 Nguyễn Văn Cừ, Quận 5, TP. Hồ Chí Minh,
          Việt Nam </div>
        <a href="#"><img src="/images/icon-email.svg" alt="" class="icon-footer"> info@fit.hcmus.edu.vn</a>
      </div>
      <div class="link-info">
        <div class="title-footer">Thông tin</div>
        <div><a href="#" style="color: black;">Website khoa</a></div>
        <div><a href="#" style="color: black;">Website trường</a></div>
        <div><img src="/images/icon-fb.jpg" class="icon-footer"> <a href="#" style="color: black;">Facebook</a></div>

      </div>
    </div>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/slick/slick.min.js"></script>
  <script src="/function/login-checking-type-and-loading.js"></script>
  <script src="/function/layout.js"></script>
  <script src="/function/slick-here.js"></script>
</body>

</html>