<link rel="stylesheet" href="/stylesheets/style.css">

<div class="container-fluid">
    <div class="content-section first-section bg-white no-padding">
        <div class="row  justify-content-between">
            <div class="title-section text-left">Quản lý luật thư viện</div>
            <div class="text-right" style="padding-right: 10px; padding-top:20px">
                <div> <img src="/images/icon-export.svg" alt=""> Xuất ra file</div>
                <div><img src="/images/icon-import.svg" alt="">  Nhập từ file</div>
            </div>
        </div>
        
        
        <div class="row justify-content-center" style="padding-top: 50px;">
            {{!info area}}
            <div class="col-md-7" style="padding: 0 30px; margin:0;">
               
                <form>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="return_date" class="col-sm-5 col-form-label text-center"
                            style="padding-left: 0; padding-right:0;">Số tiền phạt trễ hạn (vnđ/ngày):</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="rent_time" value={{curr_law.late}}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="return_date" class="col-sm-5 col-form-label text-center"
                            style="padding-left: 0; padding-right:0;">Số ngày tối đa được mượn:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="rent_date" value={{curr_law.max_day}}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="return_date" class="col-sm-5 col-form-label text-center"
                            style="padding-left: 0; padding-right:0;">Số sách tối đa được mượn:</label>
                        <div class="col-sm-6 text-right">
                            <input type="text" class="form-control" id="return_date" value={{curr_law.max_book}}>
                        </div>
                    </div>
              
                </form>

            </div>

        </div>
        <div class="text-center " style="padding: 0 50px;">
            <a href="#">
                <button class="customized-btn blue-bg-white-text" style="border:none; background-color: #3498db;">
                    <div style="width:8ch">Lưu lại</div>
                    
                    </button>
            </a>
            <a href="#">
                <button class="customized-btn white-bg-black-text" style="padding: 5px 13px;">
                    <div style="width:8ch">Hủy</div>
                </button>
            </a>

        </div>
    </div>
</div>