<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/lib-confirmID.css">

<div class="container-fluid bg-white">
    <div class="text-center text-color-408CFF font-size-xx">
        Nhập mã người dùng cần xác nhận
    </div>

    <div class="display-flex justify-content-center  align-items-center" style="height: 87vh;">
        <div>
            <div style="padding: 100px; margin-top:-200px">
                <div>Mã người dùng</div>
                <input type="text" name="book-name" id="book-name" style="width: 500px;" placeholder="123456">
            </div>
            <div class="display-flex button-area justify-content-center">
                <button onclick="logdata()" class="customized-btn blue-bg-white-text" style="border: none;">
                    <div style="width: 8ch;">
                        Xác nhận
                    </div>
                    
                </button>
                <button style="margin-left:15px" class="customized-btn white-bg-black-text">
                    <div style="width: 8ch;">Hủy</div>
                    
                </button>
            </div>
        </div>
    </div>
</div>