<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<div class="container padding-top-7-per" style="height: 35em;">
    <div class="login-area display-grid">
        <div class="login-input">
            <div class="login padding-top-15-per">
                <span class="font-size-xxx-large font-normal-bold text-color-3498DB">Đăng Nhập</span>
                <div class="username">
                    <input type="text" class="user-input" placeholder="Username">
                </div>
                <div class="password">
                    <input type="text" class="user-input" placeholder="password">
                </div>
                <div class="login-forget-pass">
                    <button class="login-button font-normal-bold">Đăng nhập</button>
                    <a href="#" class="forget-pass font-normal-bold grey">quên mật khẩu</a>
                </div>
            </div>


        </div>
        <div class="sign-up-area">
            <div class="rectangle-ECF0F1 margin-top-5em text-algin-center">
                <div style="height: 53%;">
                    <span class="text-color-3498DB font-normal-bold font-size-xx-large margin-top-3-per" style="line-height: 7;">Chưa có tài
                        khoản</span>
                </div>

                <div class="sign-up">
                    <button class="sign-up-button font-normal-bold">Đăng Ký</button>
                </div>

            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="/stylesheets/login.css">
{{!-- <script src="/function/loginFunction.js"></script> --}}