<div class="container-fluid bg-white">

    <div class="article-header padding-left-3em">
        <div class=" article-title  first-section font-size-xx">
            {{sectionArticles.article_title}}
        </div>
        <div class=" article-title text-color-grey">
            {{sectionArticles.article_date}}
        </div>
    </div>

    <div class="article-body" style="text-align: center; padding-bottom: 3em">
        <img class="card-img-top" src={{sectionArticles.article_image}} alt="Card image cap"
                                style="width: 30%; height: 30%; ">
        <div class="article-detail padding-2-side-3em" style="text-align: left;">
                    {{sectionArticles.article_para}}    
        </div>

    </div>

</div>