<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/post-announcer.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<div class="container-fluid bg-white">
    <div class="title-section text-center">
        Đăng thông báo
    </div>
    <form id="formdata">
        <div class="display-flex justify-content-center" style="width: 100%; height: 100%;">
            <div class="upload-img row">
                <input type="file" id="input-file" accept="image/png, image/jpeg" name="avaterNews" />
                <div id="img-area"></div>
            </div>
            <div class="book-info col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left: 3em;">
                <div>
                    <div>Tiêu Đề</div>
                    <input type="text" name="title" id="title" style="width: 500px;" placeholder="Kỹ nghệ phần mềm">
                </div>

                <div class="padding-top-1em">
                    <div>Từ khóa</div>
                    <input type="text" name="tags" id="tags" style="width: 500px;" placeholder="Lê Văn Phùng">
                </div>
                <div style="padding-top: 11%;">
                    <input type="radio" id="pronouncer" name="type" value="0" checked>
                    <label for="pronouncer">Thông báo</label>

                    <input type="radio" id="event" name="type" value="1">
                    <label for="event">Sự kiện</label>
                </div>

            </div>
    </form>
</div>
<div id="word-area" style="padding-top: 4em;">
    <div id="editor" style="height: 20em; overflow:scroll">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br /></p>
    </div>

    <div class="display-flex button-area justify-content-center">
        <button onclick="logdata()" id="btn-submit" class="customized-btn blue-bg-white-text"
            style="border: none;">Đăng</button>
        <button style="margin-left:15px" class="customized-btn white-bg-black-text">Hủy</button>
    </div>
</div>

</div>


<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="/function/upload.js"></script>
{{!-- <script src="./../word-area-quillEditor.js"></script> --}}
<!-- Initialize Quill editor -->
<script>



    function logdata() {
        //console.log(editor.getContents())
        //console.log(editor.root.innerHTML);
        //console.log(typeof (editor.root.innerHTML))
        //let IUP = document.getElementById("input-file");
        //console.log(IUP)
        let fields = $("#formdata").serializeArray();
        fields.push({ name:"desc", value: editor.root.innerHTML });
        fields.push({ name:"writer", value: "Thu thu" });
        console.log(fields)
        loadXMLDoc(fields)
    }

    function loadXMLDoc(formdata) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("demo").innerHTML =
                        this.responseText;
                }
            };
            xhttp.open("POST", "/api/news/insert", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(JSON.stringify(formdata));
        }
    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'], // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'header': 1 }, { 'header': 2 }], // custom button values
        [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        [{ 'script': 'sub' }, { 'script': 'super' }], // superscript/subscript
        [{ 'indent': '-1' }, { 'indent': '+1' }], // outdent/indent
        [{ 'direction': 'rtl' }], // text direction

        [{ 'size': ['small', false, 'large', 'huge'] }], // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        [{ 'color': [] }, { 'background': [] }], // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['clean'], // remove formatting button
        ['image']
    ];

    var editor = new Quill("#editor", {

        debug: 'info',
        modules: {
            toolbar: toolbarOptions
        },
        placeholder: 'Compose an epic...',
        theme: 'snow'
    });

    editor.insertText(0, 'Hello', 'bold', true);

</script>
<script src="/function/nav-lib.js" current_page="Đăng thông báo"></script>