<link rel="stylesheet" href="/stylesheets/borrow.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<div id="return-filter">
    <div id="date-selector">
        <label for="date-input">Ngày</label>
        <div id="date-group" class="input-group input-group-sm">
            <div class="input-group-prepend">
                <button class="btn btn-secondary" type="button"><i class="fa fa-calendar"></i></button>
            </div>
            <input type="text" class="form-control" id="date-input">
        </div>
    </div>

    <button class="btn btn-sm btn-outline-primary" type="button" id="btn-now">
        Hiện tại
    </button>
</div>
<hr>
<div id = "return-view">
    {{#eachReturn returnData}}
    {{> borrow_card borrowInfo=. linkType="return"}}
    {{/eachReturn}}
</div>
    
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/function/return.js"></script>
<script src="/function/nav-lib.js" current_page="Trả sách"></script>
