<div class="container" style="padding:0; width:95%">
    <div class="content-section no-padding sign-up-area  first-section">
        <div class="row" style="padding: 100px 50px 100px 50px">
            <div class="col-lg row align-content-center justify-content-center" style="margin-left: 2px;">
                <div class="sign-up-input row justify-content-center align-items-center" style="width: 80%;">
                    <div class="sign-up ">
                        <div class="row justify-content-center">
                            <span class="title-section text-center" style="padding-bottom: 0;"> Đăng Ký </span>
                        </div>
                        <form id="formSignup" action="" method="POST">
                            <div class="username">
                                <input id="username_form" type="text" name="email" class="user-input" placeholder="Email sinh viên">
                            </div>
                            <div class="password">
                                <input id="password_form" type="password" name="password" class="user-input" placeholder="Mật khẩu">
                            </div>
                            <div class="sign-up-but row justify-content-center">
                                <button type="submit" class="sign-up-button font-normal-bold">Đăng Ký</button>
                            </div>
                        </form>

                    </div>


                </div>
            </div>
            <div class="col-lg">
                <div class="login-area row justify-content-center align-content-center" style="padding-top:1em">
                    <div class="rectangle-ECF0F1 text-algin-center">
                        <div style="padding: 50px;">
                            <div>
                                {{!-- <div>Chỉ áp dụng cho tài khoản cntt </div> --}}
                                <span class="text-color-3498DB" style="font-size: 30px; font-weight:bold">Đã
                                    có tài khoản</span>
                            </div>
                            <div class="login">
                                <a href="/login">
                                    <button class="login-button font-normal-bold">Đăng Nhập</button>
                                </a>

                            </div>
                        </div>



                    </div>
                </div>
            </div>


        </div>

    </div>
</div>


<link rel="stylesheet" href="/stylesheets/sign-up.css">
<script type="text/javascript" src="//code.jquery.com/jquery-3.5.1.min.js"></script>

<script src="/function/change-nav.js" current_page="Đăng nhập"></script>
<script src="/function/login.js"></script>