
#borrower-profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#borrower-profile-picture {
    margin: 10px;
}

#borrower-id {
    font-size: small;
    color: #656565;
}

#borrower-name {
    font-size: x-large;
    color: #323232;
}

#borrower-action {
    margin-left: 20px;
}

.table th {
    text-align: center;
    vertical-align: middle;
}


.table td {
    vertical-align: middle;
}