* {
    font-size: 100%;
    font-family: Roboto;
}

body {
    background-color: #ecf0f1;
}

.no-padding-top-bot {
    padding-top: 0;
    padding-bottom: 0;
}

.no-padding {
    padding: 0;
}

.active-nav {
    margin: 0;
    background-color: #3498db;
}

.logo {
    width: 200px;
    padding: 5px;
}

.nav-item-padding {
    padding: 5px;
}

.header-nav {
    background-color: white;
}

.icon-footer {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.title-footer {
    color: #3498db;
    font-weight: bold;
    font-size: 30px;
}

.picture-search {
    background-image: url("/images/background-truong.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#searchbar-in-picture {
    opacity: 0.6;
}

#searchbar-in-picture:hover,
#searchbar-in-picture:focus-within {
    opacity: 1.0;
}

.content-section {
    margin: 20px 0px;
}

.title-section {
    padding: 25px;
    color: #3498db;
    font-weight: bold;
    font-size: 40px;
}

.active-modified-list-cs {
    background-color: #ECF0F1;
    color: #3498DB;
}

.categories-item {
    color: black;
    border-radius: none;
    padding: 0px 20px;
    margin: 0px 10px 10px 10px;
}

.first-section {
    margin-top: 60px;
}

.font-size-xx {
    font-size: xx-large;
}

.text-color-grey {
    color: gray;
}

.text-color-2980B9 {
    color: #2980B9;
}

.text-color-408CFF {
    color: #408CFF;
}

.padding-left-3em {
    padding-left: 3em;
}

.padding-2-side-3em {
    padding: 0 3em;
}

.padding-top-3em {
    padding-top: 3em;
}

.display-grid {
    display: grid;
}

.display-flex {
    display: flex;
}

.grid-8-2 {
    grid-template-columns: 80% auto;
}

.book-23-per {
    width: 23%;
}

.book-star-review::after,
.related-book::after {
    background-color: black;
    position: relative;
    width: 100%;
    height: 1px;
    content: "";
    top: 8px;
    display: block;
}

.star-checked {
    color: yellow
}

.text-center {
    text-align: center;
}

.borrow-button {
    background-color: #3498DB;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#comment-box {
    width: 95%;
    height: 6em;
}

.title-search{
    font-size: 20px;
    font-weight: bold;
    color: #3498DB;
}
.author-search{
    color: #3498DB;
}
.date-search{
    color: grey;
}

/* Tắt gạch chân khó chịu */
a {
    text-decoration: none !important;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.customized-btn{
    
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    border-radius: 50px;
}

.blue-bg-white-text{
    background-color: #3498DB;
    color: white;
}
.white-bg-black-text{
    background-color: white;
    color: black;
}

a {
    text-decoration: none !important;
}